html{
    background-color: aqua;
}
ul#menu li{
    display: inline;
    padding: 5px;
}
ul{
    font-family: 'Lucida Sans', sans-serif;
}
header{
    text-align: center;
}
header h1{
    background-color: rgb(165, 161, 161);
}
header ul{
    background-color: lightgray;
}
img{
    float: right;
    padding: 20px;
}
body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
    min-height: 800px;
}
#intro{
    font-size: larger;
}

h2, h3{
    font-family: 'Times New Roman', Times, serif;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }