h1#title{
    text-align: center;
    background-color: ;
    color: ;
    width: 300;
    height: 150;
}
body.inicio div#intro{
    background-color: ;
        color: ;
}
body.inicio h2{
    color: ;
}
